.container {
    height: 95%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--black);
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    padding: 60px 0 0;
}

.container span {
    text-decoration: none;
    font-size: 25px;
    color: var(--blue);
    display: block;
    font-family: light;
}

.container .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    margin: 0;
  }

  .show_sidebar {
    width: 250px;
    padding: 60px 20px 0;
    transition: all 0.2s ease-in-out;
  }